@CHARSET "UTF-8";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}

#game-canvas {
	display: block;
	margin: auto;
  border:2px solid #d3d3d3;
  width: 100%;
  background: url('../images/tetris-bg.jpg');
  background-size: cover;
}
